fastapi==0.115.12
Jinja2==3.1.6
langchain==0.3.25
langchain_community==0.3.25
langchain_huggingface==0.3.0
numpy==2.3.0
pydantic==2.11.6
pytest==8.4.0
python-dotenv==1.1.0
scikit_learn==1.7.0
together==1.5.13
uvicorn==0.34.3
